#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 
.loginInfo-selectports {
  position: absolute;
  top: 10%;
  left: 30%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  text-align: left;
  gap: 2em;
}




.menu-selectports {
  outline-style: outset;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 10%;
  
}

.button-selectports {
  display: flex;
  align-self: flex-end;
  outline-style: solid;
}

.container-selectports {
  display: flex;
  flex-direction: row;
}

.leftalignedrow {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 4em;
}

.dropdown {
  width: 200px;
  
  gap: 2em;
}

.zeromargin {
  margin: 0%;
  width: 200px;
}

.count {
  padding-bottom: 1em;
}

.select {
  margin-left: 1em;
  width: 35px;
}

.radiobutton {
  margin-right: 7em;
}
